.book-details-container {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  padding: 20px;
}

.book-details-cover {
  flex-basis: 30%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
}

.book-details-cover img {
  width: 240px;
  height: 360px;
  object-fit: cover;
}

.book-details-info {
  flex-basis: 70%;
}

.book-details-info h2 {
  margin-bottom: 20px;
}

.book-details-info h3 {
  margin-top: 20px;
}

.book-details-info p {
  line-height: 1.5;
}

.book-review {
  display: inline-block;
  padding: 10px 16px;
}

.book-review:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.book-review h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
